h1 {
  font-family: "Montserrat", sans-serif;
}
h3,
h4 {
  font-family: "Segoe UI", sans-serif;
}

#carouselSize {
  height: 150px;
}

#carouselOpinions {
  background-color: #cfd0d1;
}

#footer {
  background-color: #cfd0d1;
}
